@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*,
:after,
:before{
    box-sizing:border-box;
}
body{
	margin:0;
    font:600 16px/18px 'Open Sans',sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
a{
    color: inherit;
    text-decoration: none;
}
.backdrop{
    height: 100%;
    width: 100%;
    position: fixed;
    background: url(travel.jpg) no-repeat center/cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.login-wrapper{
    width:100%;
    z-index: 2;
    max-width: 350px;
    max-height: 500px;
    position: relative;
    background:url(travel.jpg) no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 
    0 12px 15px 0 rgba(0,0,0,0.692),
    0 17px 50px 0 rgba(0,0,0,0,479);
    overflow: hidden;
}
.login-html{
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    background: rgba(29,29,28,0.171);
}
.login-heading{
    width:100%;
    padding:15px;
    display: flex;
    justify-content: center;
}
.login-html .tab{
    font-size: 30px;
    display: inline-block;
}
.login-form .group .check{
    display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform: uppercase;
}

.login-html .sign-in:checked + .tab{
    color: #fff;
    border-color: #1161ee;
}
.login-form{
    min-height: 345px;
    position: relative;
}
.login-form .group{
    margin-bottom: 5px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width: 100%;
    color: #fff;
    display: block;
    font-weight: 800;
    letter-spacing: 1px;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,0.466);
    outline:none;
    font-size: 15px;
    font-weight: 600;
}
.pass-container{
    display: flex;
    position: relative;
}
.show-pass{
    font-size: 15px;
    position: absolute;
    top: 32%;
    right: 6%;
    color: #fff;
}
.login-form .group .label{
    color: #fff;
    font-size: 12px;
}
.login-form .group .button{
    margin: 20px auto;
    width: 70%;
    background: #1161ee;
    cursor: pointer;
    transition: all 0.3s;
}
.login-form .group .button:hover{
    background: #144daf;
}
.login-form .group label .icon{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content: '';
    width:10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left: 3px;
    width:5px;
    bottom:6px;
    transform: scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color: #fff;
}
.login-form .group .check:checked + label .icon{
    background: #1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform: scale(1) rotate(-45deg);
}
.hr{
    height: 2px;
    margin: 20px 0 15px 0;
    background: rgba(255,255,255,.2);
}
.foot-link,
.sign-up{
    text-align: center;
}
.foot-link:hover{
    text-decoration: underline;
}
.sign-up a{
    margin-left: 5px;
}
.sign-up a:hover{
    text-decoration: underline;
}